@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
	border-top: 2px solid white; 
	position:relative; 
	height:100%;
}
 
body {
	position:absolute;
	margin:0;
	min-width:1260px;
	max-width:1260px;
	background-image:url(http://www.mozilla.org/media/img/sandstone/bg-stone.png);
	background-repeat:repeat-x;
	background-color:rgb(249,249,249);
	-webkit-text-size-adjust: 100%;
 }
 
 IMG.displayed {
 	margin-top:26px;
    display: block;
    margin-left: auto;
    margin-right: auto }

 IMG.uk {
 	margin-top:12px;
    display: block;
    margin-left:15%;
}
    
.noise {
	position: relative;
	z-index: -1;
	}
		
.noise:before, .body-noise:before {
	content: "";
	position: absolute;
	z-index: -2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
	opacity:0.3472;
	}

.gradient {
  position: absolute;
    z-index: -3;
	opacity:0.3472;
	}
	
.gradient:before, .body-gradient:before{
	content: "";
	position: absolute;
	z-index: -3;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0.1753483;
	background-image: linear-gradient(top, rgb(105,134,208) 0%, rgb(0,35,125) 18%, rgb(43,85,151) 40%, rgb(67,139,211) 82%, rgb(103,166,208) 100%);
	background-image: -o-linear-gradient(top, rgb(105,134,208) 0%, rgb(0,35,125) 18%, rgb(43,85,151) 40%, rgb(67,139,211) 82%, rgb(103,166,208) 100%);
	background-image: -moz-linear-gradient(top, rgb(105,134,208) 0%, rgb(0,35,125) 18%, rgb(43,85,151) 40%, rgb(67,139,211) 82%, rgb(103,166,208) 100%);
	background-image: -webkit-linear-gradient(top, rgb(105,134,208) 0%, rgb(0,35,125) 18%, rgb(43,85,151) 40%, rgb(67,139,211) 82%, rgb(103,166,208) 100%);
	background-image: -ms-linear-gradient(top, rgb(105,134,208) 0%, rgb(0,35,125) 18%, rgb(43,85,151) 40%, rgb(67,139,211) 82%, rgb(103,166,208) 100%);
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(105,134,208)),
	color-stop(0.18, rgb(0,35,125)),
	color-stop(0.4, rgb(43,85,151)),
	color-stop(0.82, rgb(67,139,211)),
	color-stop(1, rgb(103,166,208))
);
}

.halfCircleBottom{
     height:45px;
     width:90px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     background:white;
}

#headerbar { 
	z-index:90; 
	text-decoration: none; 
	position:relative; 
	font-family:"Open Sans",sans-serif; 
	text-decoration:none;
}

#headerbar ul { 
	float: right; 
	list-style: none; 
	margin-right:25px; 
	text-decoration:none; 
	margin-top:8px;
}

#headerbar ul li { 
	float: left; 
	padding: .1em .5em .1em .7em; 
	text-decoration:none;
}

#headerbar ul li a { 
	color:rgb(0,36,125); 
	font-size: 13px; 
	text-transform: uppercase; 
	margin-right: 16px; 
	margin-top: 18px; 
	text-decoration:none;
}

#headerbar ul li a:hover { 
	text-decoration:underline; 
}


h1 {
	font-size:48px;
	letter-spacing:-1px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:rgb(175,50,50);
}

h2 {
	font-size:32px;
	letter-spacing:-1px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:rgb(0,36,125);
}

h3 {
	font-size:32px;
	letter-spacing:-1px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:rgb(175,50,50);
	margin-top:-180px;
	margin-left:120px;
	text-decoration:none;
}

h3:hover {
	text-decoration:underline;
}

#news {
	z-index:90;
	text-decoration: none;
	position:relative;
	font-family:"Open Sans",sans-serif;
	text-decoration:none;
}

#news ul {
	margin: 0px 0px 0px; 
	float: left; 
	margin-left:102px; 
	list-style: none; 
	margin-right:25px; 
	text-decoration:none; 
	margin-top:0px;
}

#news ul h2 {

}

#news ul li {
	font-family:"Georgia"; 
	color:rgb(72,72,72); 
	width:408px; 
	text-decoration:none;
	margin-top:-25px;
}

#news ul li a { 
	color:rgb(0,36,125); 
	margin-right: 16px; 
	margin-top: 18px; 
	text-decoration:none;
	margin-top:-8px;
}

#news ul li p { 
	margin-top:-24px;
}

#news ul li a:hover { 
	text-decoration:underline; 
}

#news ul li a:visited {
	color:rgb(0,36,125);
}

#rm { 
display: block; 
width: 110px; 
height: 29px; 
background: url(rmnp.png) no-repeat top; 
cursor:pointer;
}

#rm:active { 
background: url(rm.png) no-repeat top; 
}

#events {
	z-index:90;
	text-decoration: none;
	position:relative;
	font-family:"Open Sans",sans-serif;
	text-decoration:none;
}

#events ul {
	margin: 0px 0px 0px; 
	float:right; 
	margin-right:0px; 
	list-style: none; 
	margin-left:600px; 
	text-decoration:none; 
	margin-top:0px;
	position:absolute;
}

#events ul li {
	font-family:"Georgia"; 
	color:rgb(72,72,72); 
	width:408px; 
	text-decoration:none;
	margin-top:-25px;
	width:427px;
}

#events ul li a { 
	color:rgb(0,36,125); 
	margin-left: 16px; 
	margin-top: 18px; 
	text-decoration:none;
}

#events ul li a:hover { 
	text-decoration:underline; 
}

#events ul li a:visited {
	color:rgb(0,36,125);
}